
/*Estilo del cuerpo de la página*/
body {
	background-image: linear-gradient(to right, #001bdf, #df6500);

}
/*Estilo de la tabla*/
table {
	width: 60%;
	padding: 10px;
	border-style: dashed;
}

td{
	padding: 5px;
	font-size: 25px;
}

/*para la imagen de volver*/
img.retroceder{
	height: 70px;
	position: relative;
  float: left;

}

h3.back{
	position: relative;
  float: left;
	margin-left: 5px;
	margin-top: 30px;
}

/*definición de tamaños*/
#title{
	font-size: 3.5em;
}

.cuadro{
	padding: 20px;
}

.c{
	width: 150px;
}
