
/*Estilo del cuerpo de la página*/
body {
	background-image: linear-gradient(to right, #001bdf, #df6500);

}
/*Estilo de la tabla*/
table {
	width: 60%;
	padding: 10px;
	border-style: dashed;
}

td{
	padding: 5px;
	font-size: 25px;
}

/* clases para cada fondo de la tabla*/
tr.gris{
  background-color: gray;
}

tr.blanco{
  background-color: white;
}
