
/*Estilo del cuerpo de la página*/
body {
	background-image: linear-gradient(to right,  #9d01dc ,  #35eb00 );
	color: #ffdde9;
}
/*Estilo de la tabla*/
table {
	width: 60%;
	padding: 10px;
	border-style: dashed;
}

td{
	padding: 5px;
	font-size: 25px;
}
