
/*Estilo del cuerpo de la página*/
body {
	background-image: linear-gradient(to right, #001bdf, #df6500);

}
/*Estilo de la tabla*/
table {
	width: 60%;
	padding: 10px;
	border-style: dashed;
}

td{
	padding: 5px;

}
/*definición de tamaños*/
#title{
	font-size: 3.5em;
}

.foto{
	width: 400px;
}
